#about{
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: 5rem;
}

.about-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 8rem;
}

.about-me-details p {
    margin-bottom: 2rem;
    display: block;
}
.contact {
    margin-top: 0.75rem;
    cursor: pointer;
    width: 40%;
 }

 p{
    margin-top: 1rem;
    font-size: 1.3rem;
    line-height: 1.5;
  }

 .contact a {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-width: 1px;
    border-style: solid;
    border-color: var(--skills-color);
    color:  var(--skills-color);
    background: transparent;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 1.5rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
   
 }

  .contact a:hover {
    background-color: var(--skills-color);
    color: var(--skills-text-color);
    transition: 0.3s;
  }

  .about-skills h2 {
    font-size: 2rem;
    margin-bottom: 0.6rem;
    line-height: 1.5;
  }

  .about-skills h3 {
    font-size: 1.3rem;
    margin-bottom: 0.6rem;
    line-height: 1.5;
    text-decoration: underline;
    color:  var(--body_color);
  }

  
  .skillsGroup {
    display: flex;
    flex-wrap: wrap;
  }

  .skillsGroup div {
    letter-spacing: 1px;
    padding: 0.7rem 1rem;
    margin-right: 0.7em;
    margin-bottom: 0.7rem;
    background: var(--skills-color);;
    color: var(--skills-text-color);;
    border-radius: 2px;
  }

@media (max-width: 600px) {
    #about{
        padding-top: 6rem;
    }

    .about-info {
        grid-template-columns: 1fr;
        grid-gap: 6rem;
    }

}