.top{
    min-height: 100vh;
    background-color: var(--body_background);
}

.welcome-details {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 15rem;
}

.welcome {
    margin-right: 5rem;
}

.welcome > h1 {
    font-size: 5rem;
}

.welcome h2 {
    margin-top: 0.5rem;
    font-size: 3rem;
}

.welcome > p {
    font-size: 1.5rem;
    line-height: 1.5;
}

.contact-links {
    display: flex;
    justify-content: flex-start;
}

.contact-links a {
   margin-right: 1rem;
   cursor: pointer;
   margin-top: 1rem;
   width: 66px;
   height: 66px;
   
}

.contact-links a:hover {
   transform: scale(1.05);
 }

 .resume-wrapper {
    margin-top: 1.5rem;
    display: flex;
    justify-content: flex-start;
 }

 .resume {
    margin-top: 1rem;
    cursor: pointer;
    width: 40%;
 }

 .resume a {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-width: 1px;
    border-style: solid;
    border-color:  var(--skills-color);;
    font-size: 1.5rem;
    color:  var(--skills-color);;
    background: transparent;
 }

  .resume a:hover {
    background-color: var(--skills-color);;
    color: var(--skills-text-color);;
    transition: 0.3s;
  }
  
.luwa-photo > img {
    border-radius: 50%;
    margin-bottom: 4rem;
}

@media (max-width: 1350px) {
    .welcome > h1 {
        font-size: 4rem;
    }
    
    .welcome h2 {
        font-size: 2rem;
    }
    
    .welcome > p {
        font-size: 1.3rem;
    }
    
     .resume {
        width: 50%;
     }
    
     .resume a {
        font-size: 1.2rem;
     }
    
    .luwa-photo > img {
        border-radius: 50%;
        margin-bottom: 4rem;
        width: 20rem;
    }
    
}

@media (max-width: 910px) {
    .top .welcome-details{
        flex-direction: column-reverse;
        padding-top: 8rem;
    }

    .welcome {
        text-align: center;
        margin-right: 0;
    }
    .welcome > h1 {
        font-size: 2.5rem;
    }
    
    .welcome h2 {
        font-size: 1.6rem;
    }
    
    .welcome > p {
        font-size: 1.3rem;
    }
    .contact-links {
        justify-content: center;
    }

    .resume-wrapper{
        justify-content: center;
    }

    .resume {
    width: 60%;
    
    }
    .resume a {
    font-size: 1rem;
    }

    .luwa-photo > img {
        margin-bottom: 0;
        width: 17rem;
    }
    
}

@media (max-width: 370px) {
    .luwa-photo > img {
        width: 12rem;
    }
}
