#projects{
    padding-left: 1rem;
    padding-right: 1rem;
    
}

.project-label{
    text-align: center;
    padding: 4rem 0 1.4rem 0;
}

.project-container{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding-bottom: 5rem;
    flex-wrap: wrap;
}

.card-wrapper {
    padding-bottom: 2rem;
    width: 370px;
    height: 420px;
    margin: 0 auto;
    perspective: 1000px;
}


.card {
    border: 2px solid var(--nav_border_color);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.card-wrapper:hover .card{
    transform: rotateY(180deg);
}

.card img{
    border: 2px solid var(--nav_border_color);
    width: 100%;
    height: 340px;
    
}

.front .back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
}

.front {
    backface-visibility: hidden;
    text-align: center;
}

.front > h2 {
    padding: 0.4rem;
}

.back {
    position: absolute;
    top: 20px;
    right: 0;
    bottom: 0;
    left: 0;
    transform: rotateY(180deg);
    backface-visibility: hidden;
    margin: 0 auto;
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
}

.project-tech {
    font-size: 0.9em;
    margin: 0;
    margin-top: 5px;
    height: 13%;
}

.project-desc {
    margin-top: 2px;
    font-size: 1em;
    height: 45%;
}

.project-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin: 0.6rem 0;
    margin-top: 1.2rem;
}

.project-link-wrapper {
    width: 50%;
    border-width: 1px;
    border-style: solid;
    border-color:  #2E8B57;
    background: transparent;
    padding: 0.5rem;
}

.project-link {
    width: 100%;
    color:  #2E8B57;
}

.project-link:hover {
    text-decoration: underline;
}

.demo-link-wrapper {
    background-color: #2E8B57;
    width: 50%;
    border-width: 1px;
    border-style: solid;
    border-color:  #2E8B57;
    padding: 0.5rem;
}

.demo-link {
    color: white;
}

.demo-link:hover {
    text-decoration: underline;
}
