:root {
  --body_background: #fafafa;
  --body_color: black;
  --skills-color: #2E8B57;
  --skills-text-color: white;
  --nav_border_color: #e2e2e2;

}

[data-theme="dark"] {
  --body_background: #080808;
  --body_color: #fafafa;
  --skills-color: #2E8B57;
  --skills-text-color: white;
  --nav_border_color: #505050;
}



*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background-color: var(--body_background);
}

h1, h2, p, a {
  color: var(--body_color);
  text-decoration: none;
}

main{
  max-width: 1400px;
  min-height: 100vh;
  margin: 0 auto;
}

ul{
  list-style-type: none;
}



